<%= form_for(@post) do |f| %>
  <%= render 'users/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_area :content, class: 'form-control mb-3', placeholder: "新しい投稿を作成..." %>
  </div>
  <span class="image">
    <%= f.file_field :image, class: 'form-control-file mb-3', accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <span class="answer">
    <%= f.text_field :answer, class: 'form-control mb-3', placeholder: "ここに答えを入力..." %>
  </span>
  <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg btn-block" %>
<% end %>

<script type="text/javascript">
  $('#post_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>