<li id="post-<%= post.id %>" data-post-id="<%= post.id %>" 
  class="list-group-item list-group-item-action flex-column align-items-start">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.image.url if post.image? %>  
  </span>
  <span class="timestamp">
    投稿 <%= time_ago_in_words(post.created_at) %> 前
  <%= link_to "詳細ページへ", post_path(post) %>
  </span>
</li>