<li id="post-<%= post.id %>" data-post-id="<%= post.id %>">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.image.url if post.image? %>  
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to "削除", post, method: :delete,
                                       data: { confirm: "本当によろしいですか？" } %>
    <% end %>
  </span>
  <%= render "likes/like", post: post %>
</li>