<% provide(:title, '詳細ページ') %>
<h1>クイズの詳細ページ</h1>
<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="post-user-name">
      <%= image_tag @post.user.image.url(:thumb) if @post.user.image? %>
      <%= link_to(@post.user.name, "/users/#{@post.user.id}") %>
    </div>
    <p><%= @post.content %></p>
    <p><%= image_tag @post.image.url if @post.image? %></p>
        <%= render 'answer' %>
    投稿 <%= time_ago_in_words(@post.created_at) %> 前
    <div class="post-time">
      <%= @post.created_at %>
    </div>
    <% if current_user?(@post.user) %>
      <div class="post-menus">
        <%= link_to "編集", edit_post_path(@post.id) %>
        <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "本当によろしいですか？" } %>
      </div>
    <% end %>
    <% if !current_user?(@post.user) %>
    <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
      <%= link_to("/likes/#{@post.id}/destroy", {method: "delete"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
      <% end %>
    <% else %>
      <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
      <% end %>
    <% end %>
    <%= @likes_count %>
      <h3 class="mt-5">コメント</h3>
      <% if @post.comments.any? %>
        <ul>
        <% @post.comments.each do |comment| %>
          <li>
            <%= comment.body %>
            <%= link_to "削除", post_comment_path(@post, comment),
                method: :delete, class: "command", data: { confirm: "sure?" } %>
          </li>
        </ul>
        <% end %>
      <% end %>
      <%= form_for([@post, @post.comments.build]) do |f| %>
        <%= f.text_field :body %>
        <%= f.submit "投稿する", class: "btn" %>
      <% end %>
    <% end %>
  </div>
</div>