<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <%= link_to "謎解き広場", root_path, id: "logo", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <form class="search" method="get" action="http://www.google.co.jp/search" target="_blank">
          <input type="text" name="q" size="31" maxlength="255" value="" placeholder="　サイト内を検索">
          <input type="submit" name="btng" value="検索">
          <input type="hidden" name="hl" value="ja">
          <input type="hidden" name="sitesearch" value="intense-waters-95990.herokuapp.com">
        </form>
        <li class="nav-item">
          <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ", current_user, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>  
        <li class="nav-item">
          <%= link_to "ホーム", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "謎解き広場とは？", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class: "nav-link" %>
        </li>
      <% end %>  
      </ul>
    </div>
  </nav>
</header>